<%= render 'shared/navbar'%>

<% hosts = ["zuzanasoltisova", "federico-dev", "aphanite"] %>
<div class="container_gardens">
  <% @gardens.each do |garden| %>

    <%= link_to garden_path(garden), {:style=>'color:#000000; text-decoration : none'}  do %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/random/1180×240/?garden" />
        <div class="card-trip-infos">
          <div>
            <h2><%= garden.name %></h2>
            <p><%= garden.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= garden.price_per_day %>€</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/<%= hosts.sample %>" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>
