<%= render 'shared/navbar'%>

<!-- Garden Images-->
<div class="container-garden">
 <h2><%= @garden.name %></h2>
    <% if @garden.photos.attached? %>
    <% @garden.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 220, width: 220, crop: :fill %>
  <% end %>
  <% else %>
<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"></li>
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"></li>
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"></li>
  </ol>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img
        src="https://source.unsplash.com/featured/?garden"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/featured/?garden"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/featured/?garden"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <a
    class="carousel-control-prev"
    href="#carouselBasicExample"
    role="button"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselBasicExample"
    role="button"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- Carousel wrapper -->
<% end %>

 <!-- Garden Location and Price -->
 <div class="garden-content">
  <div class="garden-description">
    <p><%= @garden.description%></p>
  </div>

  <div class="garden-info-flex">
    <div class="card-location">
      <p><%= @garden.address %></p>
      <p><strong>Price Per Day:</strong> €<%= @garden.price_per_day %></p>

<!-- Button trigger modal -->
  <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal">
  Book now
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Your booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
         <p>Your booking request of <%= @garden.user.name%>'s garden was made!
          <%= @garden.user.name %> will answer your request soon.
         </p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-primary">Browse gardens</button>
    </div>
    </div>
    </div>
   </div>
  </div>
  </div>
</div>
