<%= render 'shared/navbar'%>

<!-- Garden Images-->
<div class="container-garden">
 <h2><%= @garden.name %></h2>
  <div class="row justify-content-around">
    <% if @garden.photos.attached? %>
    <% @garden.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 220, width: 220, crop: :fill %>
  <% end %>
  <% else %>
   <div class="col-2">
      <img src="https://source.unsplash.com/random/220x220/?garden">
    </div>
    <div class="col-2">
      <img src="https://source.unsplash.com/random/220x220/?garden">
    </div>
    <div class="col-2">
      <img src="https://source.unsplash.com/random/220x220/?garden">
    </div>
    <div class="col-2">
      <img src="https://source.unsplash.com/random/220x220/?garden">
    </div>
  </div>
</div>
<% end %>

 <!-- Garden Location and Price -->
 <div class="garden-content">
  <div class="garden-description">
    <p><%= @garden.description%></p>
  </div>

  <div class="garden-info-flex">
    <div class="card-location">
      <p><%= @garden.address %></p>
      <p><strong>Price Per Day:</strong> €<%= @garden.price_per_day %></p>
      <%= link_to "Book now", new_garden_booking_path(@garden), {:class => "btn btn-success btn-block"}%>  
    </div>
  </div>
</div>
